/* .mainContainer {
    background-color: #0eccfb;
    height: 70vh;
} */

.title h1 {
    font-weight: 500;
    margin: 1rem;
}

.tasks {
    width: 90%;
}

.tasks li {
    display: flex;
    align-items: center;
    /* margin: 1rem 0; */
    padding: 1rem 0;
    border-bottom: 0.5px solid rgba(159, 155, 155, 0.702);
}

.tasks img {
    width: 20px;
}

.singleTask {
    display: flex;
}

.singleTask p {
    font-size: 20px;
    padding: 0px 20px;
}

.deleteTask {
    border: none;
    background-color: inherit;
    font-size: 30px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 1s;
    cursor: pointer;
}

.deleteTask:hover {
    background-color: #0eccfb53;
    transition: 1s;
}


.addTask button{
    cursor: pointer;
    font-size: 20px;
    color: white;
    width: 70px;
    height: 65px;
    border: 2px solid #1e7677;
    border-radius: 50%;
    background-color: #0eccfb;
    box-shadow: #1e7677 0px 0px 20px;

}

.deleteAllTasks button {
    cursor: pointer;
    font-size: 15px;
    color: white;
    background-color: #bd2020cc;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    margin-bottom: 2rem;
}

.completed {
    text-align: left;
    padding: 2rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    background-color:#1e7677;
    box-shadow: #1e7677 0px 0px 20px;
    color: white;
}

.noTasks {
    font-size: 20px;
}




