.headerContainer {
    width: 100%;
    height: 30vh;
    background-image: url('../assets/sea_background.jpg');
    opacity: 20;
    color: white;
    display: flex;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-bottom: 5px solid;
    border-image-source: linear-gradient(to right,#1e7677, #0eccfb);
    border-image-slice: 1;
    width: 60%;
    justify-content: space-between;
}

.title h1{
    text-align: left;
    font-weight: 400;
}

.title p {
    bottom: 0px;
    text-align: right;
    margin-right: 0px;
}

.date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.298);
    width: 40%;
    text-align: left;
}

.date span {
    padding: 5px;
}